<%- include('partials/head') %>
<%- include('partials/navbar') %>

    <h1>The home page <%= 4 + 2 %>
    </h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla dicta in tempora sit qui, quisquam temporibus
        ducimus modi atque neque iure. Doloribus, enim sed non iusto dolores veniam! Corporis, nobis.
        Sit, libero facilis! Omnis, reiciendis! Itaque omnis unde aliquid minus blanditiis ullam nisi maiores molestias
        harum, odio accusamus dolorum? Explicabo ipsam libero iusto quidem aperiam in deserunt corporis ex nostrum.
        Voluptas optio ducimus rerum eligendi alias sint corporis. Velit modi unde mollitia at animi recusandae
        molestiae nostrum aut nobis consectetur dolore deleniti ipsam placeat amet aperiam ipsa, perferendis atque
        dolor!
        Odit, nesciunt nam! Architecto quis delectus molestiae iste, modi est optio beatae, laboriosam odio ea a, maxime
        eum minima fugiat..............?</p>
    <p>
        <%= 'hello World' .toUpperCase() %>
    </p>
<%- include('partials/footer') %>
