<%- include('../partials/head') %>

    <title>Add</title>
</head>
<body>
    <%- include('../partials/navbar') %>
    
    <h1 class="d-flex justify-content-center my-4">Add a <%= title %> member</h1>

    <form class="d-grid gap-3 col-5 mx-auto" action="/<%= category %>" method="post">
        <% for (let field of fields) { %>
            <div class="form-group">
                <label class="mb-1 input-label" for="<%= field %>"><%= field %>: </label>
                <input class="form-control" type="<%= field === 'email' ? 'email' : field === 'age' ? 'number' : 'text' %>" name="<%= field %>" placeholder="Enter <%= field %>...">
            </div>
        <% } %>

        <button type="submit" class="btn btn-primary custom-btn mt-3">Save</button>
      </form>
</body>
</html>