<%- include('../partials/head') %>

    <title>Profile</title>
</head>
<body>
    <%- include('../partials/navbar') %>
    
    <div class="card mx-auto mt-5 shadow">
        <h2 class="card-header text-center"><%= details.name %></h2>
        <div class="card-body">
            <div class="card-text">
                <ul>
                    <% for (let key in details) { %>
                        <% if (key !== 'name') { %>
                            <li class="member-detail"><b class="left-key"><%= key %></b>: <%= details[key] %></li>
                        <% } %>
                    <% } %>
                </ul>
            </div>
            <div class="row mx-2">
                <div class="col">
                    <form action="/<%= category %>/<%= details.id %>/update" method="get">
                        <button class="btn btn-warning">Update</button>
                    </form>
                </div>
                <div class="col text-end">
                    <form method="post" action="/<%= category %>/<%= details.id %>?_method=DELETE">
                        <button class="btn btn-danger">Remove</button>
                    </form>
                </div>
            </div>
            
        </div>
    </div>
</body>
</html>

<!-- id: 'ACSE-001',
            name: 'Dr. Md. Abu Sayeed',
            designation: 'Professor',
            age: 50,
            email: 'abu233@gmail.com' -->